@model TrueFalseQuestion

<div class="form-group">
    @Html.Partial("QuestionHeader", Model)

    @{
        var selectList = new SelectList(
            new List<SelectListItem>
            {
            new SelectListItem {Text = "", Value = ""},
            new SelectListItem {Text = "True", Value = "False"},
            new SelectListItem {Text = "False", Value = "False"},
            }, "Value", "Text");


        @Html.DropDownListFor(m => m.Answer, selectList, new { @class = "form-control" })

    }

    @Html.ValidationMessageFor(m => m.Answer)
</div>